<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webjava.kernel.mybatis.mapper.IMGroupMapper">
  <resultMap id="BaseResultMap" type="com.webjava.kernel.entity.IMGroup">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="avatar" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="creator" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="user_cnt" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="version" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="last_chated" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="updated" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="created" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, avatar, creator, type, user_cnt, status, version, last_chated, updated, created
  </sql>


  <select id="selectGroupById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from im_group where id = #{id}
  </select>

  <select id="selectGroupByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from im_group where name= #{name}
    limit 1
  </select>

  <select id="selectAllGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from im_group
  </select>


  <delete id="deleteByPrimaryKey" >
    delete from im_group
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.webjava.kernel.entity.IMGroup">
    insert into im_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="usercnt != null">
        user_cnt,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="lastchated != null">
        last_chated,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="usercnt != null">
        #{usercnt,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="lastchated != null">
        #{lastchated,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webjava.kernel.entity.IMGroup">
    update im_group
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="usercnt != null">
        user_cnt = #{usercnt,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="lastchated != null">
        last_chated = #{lastchated,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>